body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    background-color: #23b6ff;
    color: white;
    padding: 1em;
}

.sidenav {
    display: flex;
    flex-direction: column;
    background-color: #303c54;
    padding: 1em;
    margin: 10px;
    width: 200px; /* Adjust the width as needed */
    padding: 15px; /* Padding inside the sidebar */
    border-radius: 30px;
}

.sidenav ul {
    list-style-type: none;
    padding: 0; /* Remove padding to avoid extra space */
    margin: 0; /* Remove margin to avoid extra space */
}

.sidenav ul a {
    color: white;
    padding-bottom: 16px;
    padding-top: 16px;
    text-decoration: none;
}

.sidenav ul a:hover {
    text-decoration: underline;
}

.row {
    display: flex;
    flex-direction: row;
}

.fa-solid {
    margin-right: 8px;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: #303c54;
    width: 100%;
    padding: 1.5em;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    color: #fff;
    flex-wrap: wrap;
}

@media (max-width: 600px) {
    header h1 {
        font-size: 20px;
        margin: 5px;
    }

    .sidenav {
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        margin: 0;
        border-radius: 0;
        padding: 0;
    }

    .sidenav ul {
        display: flex;
        flex-direction: row;
        width: auto;
    }

    .sidenav ul a {
        flex-direction: row;
        padding: 10px;
    }
}
