:root {
    --main-bg-header: #23b6ff;
    --main-bg-nav: #303c54;
    --main-bg-footer: #303c54;
  }

body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

/* Remove vertical scrollbar and retain scroll function */
html, body {
    overflow-y: hidden;
    height: 100%;
}

body {
    overflow-y: scroll;
    position: relative;
}

/* For WebKit browsers: Chrome, Safari, and Opera */
body::-webkit-scrollbar {
    width: 0px;
}

/* For Firefox */
body {
    scrollbar-width: none;
}

/* For Internet Explorer, Edge */
body {
    -ms-overflow-style: none;
}

header {
    display: flex;
    justify-content: center;
    background-color: var(--main-bg-header);
    color: white;
    padding: 1%;
}

.main-content {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 30px;
    background-color: #C0C0C0;
    color: white;
}

.container {
    display: flex;
    flex: 1;
}

.sidenav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 0;
    border-radius: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0;
    padding-right: 0;
    background-color: var(--main-bg-nav);
}

.sidenav ul {
    display: flex;
    flex-direction: row;
    width: auto;
}

.sidenav ul a {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.main-content {
    flex-grow: 1;
    padding: 1em;
}

.sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

div.row {
    padding-bottom: 16px;
    padding-top: 16px;
}

.sidenav ul a {
    color: white;
    padding-bottom: 16px;
    padding-top: 16px;
    text-decoration: none;
}

.sidenav ul a:hover {
    text-decoration: underline;
}

.fa-solid {
    margin-right: 8px;
}

footer {
    background-color: var(--main-bg-footer);
    width: 100%;
    padding: 1.5em;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    color: #fff;
    flex-wrap: wrap;
}

@media (max-width: 600px) {
    div.row {
        padding-right: 0;
        margin-left: 16%;
    }

    .main-content {
        margin-left: 5%;
        margin-right: 5%;
    }

    header h1 {
        font-size: 20px;
        margin: 5px;
    }

    .container {
        flex-direction: column;
    }

    .sidenav {
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        margin: 0;
        border-radius: 0;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 0;
        padding-right: 0;
    }

    .sidenav ul {
        display: flex;
        flex-direction: row;
        width: auto;
    }

    .sidenav ul a {
        flex-direction: row;
        padding: 10px;
    }
}
